$main-color: #F19ED2;
$second-color: #91DDCF;
$third-color: #E8C5E5;
$bg-color: #ffbf76;

$title: 36px;
$text: 20px;

$main-font: "SUSE", system-ui;
$add-font: "Fira Sans", system-ui;

$font-color: #e955b0;