* {
   font-family: 'Museo Sans Cyrl', sans-serif;
};

body {
   margin: 0;
   padding: 0;
};

.container {
   //Maine container settings
   max-width: 1280px;
   margin: 0 auto;
};


@import 'base/variables';
@import 'blocks/main';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/slide';
@import 'blocks/about_us';
@import 'blocks/about_me';
@import 'blocks/buttons';
@import 'blocks/adv';
@import 'blocks/offers';
@import 'blocks/contact';
@import 'blocks/reviews';
@import 'blocks/footer';
