.about_me {
   padding: 30px;
   background: rgb(255, 191, 118);
   background: linear-gradient(184deg, rgba(255, 191, 118, 1) 0%, rgba(255, 191, 118, 1) 35%, rgba(255, 255, 255, 1) 100%);
   color: #fff;
   & button {
      background-color: $main-color;
   };
   &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
   };
   &__promo {
      text-transform: uppercase;
   };
   &__img {
      padding-left: 50px;
   };
   &__desc {
      padding-bottom: 40px;
   }
   & img {
      max-width: 600px
   };
};