.adv {
   padding-bottom: 75px;
   &__title {
      color: $main-color;
      padding: 100px;
      text-align: center;
      
   }
   &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1px 1fr 1px 1fr;
   };
   &__item {
      //padding-left: 125px;
   };
   & hr {
      width: 1px;
      height: 200px;
      background-color: $main-color;
      border: none;
   };
   &__hr {
      padding: 25px 0 0 0;
   }
   &__img {
      margin: 0 auto;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      position: relative;
      & img {
         max-width: 100px;
         max-height: 100px;
         position: absolute;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0;
         margin: auto;
      };
      &-first {
         background-color: $main-color;
      };
      &-second {
         background-color: $second-color;
      };
      &-third {
         background-color: $bg-color;
      };
   };
   &__desc {
      padding-top: 25px;
      text-align: center;
   };
};