.button {
      background-color: #000;
      width: 250px;
      height: 50px;
      border: none;
      cursor: pointer;
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
      font-family: $add-font;
      padding-left: 40px;
      font-size: $text;
      line-height: 45px;
      color: #fff;
      border-radius: 25px;
      text-align: left;
   &__link {
      text-decoration: none;
   };
   &-arrow {
      width: 40px;
      padding-left: 15px;
   };
};