.main {
   &__title {
      font-family: $main-font;
      font-size: $title;
      font-weight: 400;
   };
   &__description {
      font-family: $add-font;
      font-size: $text;
      line-height: 38px;
      font-weight: 300;
   };
};

