.offers {
   padding-bottom: 70px;
   background: url(/img/bg/secondBg.png) center (center/cover) no-repeat;
   & h2 {
      padding-top: 75px;
      text-align: center;
      color: #fff;
   };
   &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 50px;
      gap: 40px
   };
   &__item {
      background-color: #fff;
      padding: 15px 25px;
      border-radius: 15px;
      &__img {
         & img {
            border-radius: 15px;
            max-width: 350px;
         };
      };
      & h3 {
         padding-top: 20px;
         font-size: 28px;
         color: $font-color;
      };
      &__offer {
         padding-top: 20px;
         font-size: 18px;
         line-height: 26px;
         color: $bg-color;
         letter-spacing: .1rem
      };
      &__desc {
         padding-top: 15px;
         font-size: 18px;
         line-height: 26px;
         font-weight: 300;
      };
      &__link {
         width: 90%;
         padding-top: 40px;
         &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
         };
         &-img {
            padding-right: 5px;
         };
         & a {
            text-decoration: none;
            color: $main-color;
            text-transform: uppercase;
            letter-spacing: .2rem;
            font-size: 16px;
         };
         & hr {
            height: 1px;
            border: none;
            background-color: $main-color
         };
         & img {
            max-width: 35px;
         };
      };
   };
};